name: build-and-push-images

on:
  push:
    branches: ["main"]
    paths:
      - "backend/**"
      - "frontend/**"
      - ".github/workflows/build-and-push.yaml"


permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  OWNER: ${{ github.repository_owner }}
  SHA: ${{ github.sha }}

jobs:
  backend:
    name: Build & Push backend (arm64)
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push (backend)
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          platforms: linux/arm64
          tags: |
            ${{ env.REGISTRY }}/${{ env.OWNER }}/home-finance-backend:latest
            ${{ env.REGISTRY }}/${{ env.OWNER }}/home-finance-backend:${{ env.SHA }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  frontend:
    name: Build & Push frontend (arm64)
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push (frontend)
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          platforms: linux/arm64
          tags: |
            ${{ env.REGISTRY }}/${{ env.OWNER }}/home-finance-frontend:latest
            ${{ env.REGISTRY }}/${{ env.OWNER }}/home-finance-frontend:${{ env.SHA }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
